$black: #000;
$white: #fff;
$success: #1fa750;
$warning: #cfa00c;
$danger: #dc3545;
$danger-label: #ff453b;
$roxo: #7023ba;
$verde: #44bc8c;
$verde-claro: #b3e0c9;
$azul: #0070c0;
$azul-claro: #3667ff;
$azul-escuro: #40318e;
$amarelo: #fbbc04;
$cinza: #e8e8e8;
$cinza-claro: #e6e6e6;
$cinza-escuro: #616161;
$cinza-tabela: hsla(0,0%,50.2%,.0705882353);
$prata: #f6f6f6;
$borda: #808080;
$borda-style: 4px solid $white;
$wide-th-width: 200px;
$bg-popup-wrapper: rgba(255, 255, 255, 0.85);
$bg-poup-content: #ebebeb;
$link-vermelho: #D26D82;
@mixin bg-gradient {
    background: rgb(116, 53, 255);
    background: linear-gradient(90deg, rgba(116, 53, 255, 1) 0%, rgba(49, 107, 255, 1) 100%);
}
@mixin bg-gradient-hover {
    background: rgb(116, 53, 255);
    background: linear-gradient(100%, rgba(116, 53, 255, 1) 0%, rgba(49, 107, 255, 1) 90deg);
}

.table-wrap {
    overflow-x: auto;
}

.table {
    // min-width: 1000px !important;
    width: auto;
    -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    color: $azul-escuro;
    overflow: hidden;
    background: $white;
    thead {
        background: $white;
        tr {
            background: $white;
            th {
                background: $prata;
                border: solid 4px $white !important;
                font-weight: 500;
                color: inherit;
                vertical-align: middle;
                font-size: 0.7em;
                padding-block: 5px;
                width: 4ch;
                &:first-child {
                    text-align: left;
                    border-radius: 10px 0 0 10px;
                }
                &:last-child {
                    border-radius: 0 10px 10px 0;
                }
                &.mes-passado {
                    position: relative;
                    text-transform: uppercase;
                    &:before {
                        content: "";
                        position: absolute;
                        background-color: $verde;
                        width: calc(100% + 5px);
                        height: 5px;
                        bottom: calc(100% + 12px);
                        left: 0;
                    }
                    &.primeiro-mes-passado {
                        &:before {
                            border-radius: 5px 0 0 5px;
                        }
                    }
                    &.ultimo-mes-passado {
                        &:before {
                            width: 100%;
                            border-radius: 0 5px 5px 0;
                        }
                    }
                }
                &.mes-futuro {
                    text-transform: uppercase;
                }
                &.total-geral {
                    background-color: $verde;
                    color: $white;
                    text-transform: uppercase;
                    text-align: center;
                }
                &.th-ref,
                &.th-mes {
                    border-left: $borda-style;
                    border-right: $borda-style;
                }
                &.row-title {
                    font-size: 0.875rem;
                    font-weight: 400;
                }
                &:nth-last-child(2) {
                    &:before {
                        width: 100%;
                        border-radius: 0 5px 5px 0;
                    }
                }
                .progress-mark {
                    position: absolute;
                    bottom: calc(100% + 20px);
                    right: 0;
                    white-space: nowrap;
                    &:after {
                        content: "";
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-top: 8px solid $verde;
                        border-bottom: 0;
                        margin-left: 5px;
                    }
                }
            }
            &.no-bg {
                th {
                    background-color: transparent;
                    text-transform: uppercase;
                    font-size: 0.8em;
                }
            }
        }
    }
    tbody {
        tr {
            margin-bottom: 10px;
            border-bottom: 4px solid #f8f9fd;
            &:last-child() {
                border-bottom: 0;
            }
        }
        th,
        td {
            border: none;
            padding: 5px 20px;
            font-size: 0.875rem;
            background: $white;
            vertical-align: middle;
            &:first-child {
                border-radius: 7px 0 0 7px;
            }
            &:last-child {
                border-radius: 0 7px 7px 0;
            }
        }
        td {
            &.resultado-contratado,
            &.resultado-entregue {
                text-align: center;
                padding: 5px 0px;
                width: 2ch;
            }
            &.resultado-contratado {
                border-left: $borda-style;
            }
            &.resultado-entregue {
                border-right: $borda-style;
            }
            &.status {
                span {
                    position: relative;
                    border-radius: 30px;
                    padding: 4px 10px 4px 25px;
                    &:after {
                        position: absolute;
                        top: 9px;
                        left: 10px;
                        width: 10px;
                        height: 10px;
                        content: "";
                        border-radius: 50%;
                    }
                }
                .active {
                    background: lighten($success, 25%);
                    color: darken($success, 25%);
                    &:after {
                        background: darken($success, 20%);
                    }
                }
                .waiting {
                    background: lighten($warning, 25%);
                    color: darken($warning, 25%);
                    &:after {
                        background: darken($warning, 15%);
                    }
                }
            }
            .img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .email {
                span {
                    display: block;
                    &:last-child() {
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.3);
                    }
                }
            }
            .close {
                span {
                    font-size: 12px;
                    color: $danger;
                }
            }
            &.empty-cell {
                background-color: $prata;
            }
            &.total-contratado,
            &.total-entregue {
                text-align: center;
                width: 5ch;
                padding-inline: 1ch;
            }
            &.cell-contratado,
            &.total-contratado {
                background-color: $cinza;
                color: $black;
                padding-inline: 1ch;
            }
            &.cell-entregue,
            &.total-entregue {
                background-color: $verde-claro;
                color: $black;
                padding-inline: 1ch;
            }
        }
    }
    &.table-aprovacao {
        width: 100%;
        thead {
            tr {
                th {
                    font-size: 1em;
                }
            }
        }
        tbody {
            tr {
                td {
                    background-color: $cinza-tabela;
                    border: 4px solid white;
                    a {
                        color: $link-vermelho;
                    }
                }
            }
        }
    }
}
.vertical-text div {
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.crop-text {
    display: block;
    height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: $wide-th-width;
    white-space: nowrap;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed;
    cursor: pointer;
    .tooltip-text {
        visibility: hidden;
        white-space: nowrap;
        background-color: $black;
        color: $white;
        text-align: center;
        border-radius: 0.375em;
        padding: 0.32em 0.62em;
        position: absolute;
        z-index: 1;
        opacity: 0;
        bottom: -50%;
        left: -0.5em;
        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 1ch;
            border-width: 0.32em;
            border-style: solid;
            border-color: $black transparent transparent transparent;
            z-index: -1;
        }
    }
    &:hover,
    &:active,
    &:focus,
    &:hover:focus {
        .tooltip-text {
            visibility: visible;
            bottom: 100%;
            // top: -2.4em;
            opacity: 1;
            transition: all 0.3s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }
}
.partner-trigger-popup {
    color: inherit;
    border-bottom: 1px dashed;
}
.partner-content-popup {
    display: none;
}
.partner-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    // overflow: hidden;
    background: $bg-popup-wrapper;
    .partner-popup {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: $bg-poup-content;
        color: $cinza-escuro;
        text-align: left;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 1;
        max-height: 100vh;
        width: 100%;
        // overflow: hidden;
        .popup-content {
            display: block;
            padding: 40px;
            max-height: 100vh;
            width: 100%;
            white-space: pre-line;
            word-break: break-all;
            overflow: auto;
            &.chamado-view {
                display: grid;
                grid-template-areas: "chamado-aside chamado-aside" "content content";
                padding: 0;
                .chamado-aside {
                    grid-area: chamado-aside;
                    background-color: $cinza-claro;
                    padding: 40px;
                    display: grid;
                    grid-template-columns: 1fr auto;
                    gap: 20px;
                    align-items: center;
                    align-content: flex-start;
                    #chamado-aside-column-1 {
                        grid-column: 1 / 2;
                        border-right: 2px solid $borda;
                    }
                    #chamado-aside-column-2 {
                        grid-column: 2 / -1;
                    }
                    #chamado-aside-column-3 {
                        grid-column: 1 / -1;
                    }
                }
                .chamado-content {
                    grid-area: content;
                    padding: 40px;
                    .chamado-detalhamento-solicitacao-text {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                    }
                }
                .chamado-data-solicitacao,
                .chamado-previsao-entrega {
                    p {
                        display: flex;
                        gap: 0.3em;
                        align-items: baseline;
                    }
                    .dia,
                    .mes {
                        font-size: 1.5em;
                        line-height: 1.6em;
                        font-weight: 700;
                        color: $azul-escuro;
                    }
                    .mes {
                        text-transform: capitalize;
                    }
                    .hora {
                        font-size: 0.9em;
                        line-height: 1.1em;
                        color: $black;
                    }
                }
                h3 {
                    font-size: 1.2em;
                    line-height: 1.4em;
                    color: $black;
                    margin-block: 0 1.2em;
                }
                h5 {
                    text-transform: uppercase;
                    font-size: 0.7em;
                    line-height: 1em;
                    color: $azul-escuro;
                    margin-block: 0 0.6em;
                }
                .chamado-assunto {
                    h3 {
                        margin-bottom: 0;
                    }
                }
                .chamado-previsao-entrega {
                    p {
                        margin-bottom: 0;
                    }
                }
                .chamado-urgencia {
                    display: grid;
                    h5 {
                    }
                    .chamado-tags {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        list-style: none;
                        padding: 0;
                    }
                }
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $azul;
        }
        a {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: $azul;
            text-decoration: none;
            transition: all 0.3s ease;
            &:active,
            &:focus,
            &:hover,
            &:focus:hover {
                color: $azul;
            }
        }
        .partner-popup-close {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 10px;
            right: 10px;
            @include bg-gradient;
            color: $white;
            font-size: 1.5rem;
            line-height: 25px;
            font-weight: bold;
            cursor: pointer;
            z-index: 2;
            transition: all 0.3s ease;
            text-align: center;
            &:active,
            &:focus,
            &:hover,
            &:focus:hover {
                color: $white;
                // @include bg-gradient-hover;
            }
        }
    }
}

.partner-chamado-form {
    display: grid;
    gap: 20px;
    input,
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="url"],
    select,
    textarea,
    .mce-tinymce.mce-container.mce-panel,
    .tox-tinymce,
    .wp-core-ui.wp-editor-wrap.tmce-active {
        display: block;
        border: none;
        padding: 0.5em 1em;
        background-color: $white;
        &.error {
            border: 1px solid $danger;
        }
    }
    .mce-tinymce.mce-container.mce-panel,
    .wp-core-ui.wp-editor-wrap.tmce-active {
        width: auto !important;
    }
    label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &#chamado-notificacao-label {
            border: solid $azul 1px;
            padding: 5px 20px;
            border-radius: 7px;
            font-size: 1.2em;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.05s;
            &:has(input[type="checkbox"]:checked) {
                background-color: $azul;
                color: $white;
            }
            input[type="checkbox"] {
                cursor: pointer;
                &:checked {
                    outline: solid 1px $white;
                }
            }
        }
        &:first-child {
            grid-column: 1 / 2;
        }
        &:last-child {
            grid-column: 2/-1;
        }
    }
    .chamado-button {
        background-color: $azul;
        color: $white;
        border: none;
        transition: all 0.3s ease;
        border-radius: 7px;
        font-weight: 600;
        &:active,
        &:focus,
        &:hover,
        &:focus:hover {
            background-color: $azul-escuro;
        }
    }
}

.mce-toolbar .mce-btn button,
.mce-toolbar .mce-btn button:hover,
.qt-dfw,
.qt-dfw:hover {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.chamado-label {
    display: inline-block;
    color: $white;
    padding: 6px 15px;
    border-radius: 6px;
    font-size: 11px;
    &.chamado-label-no-color {
        color: inherit;
    }
}

.partner-ponto-focal {
    padding: 40px;
    background-color: $bg-poup-content;
    border-radius: 20px;
    .partner-ponto-focal-header {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1.5fr;
        column-gap: 20px;
        row-gap: 10px;
        margin-bottom: 20px;
        .partner-ponto-focal-image {
            grid-area: image;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            img {
                border-radius: 50%;
                max-width: 64px;
                max-height: 64px;
                object-fit: contain;
            }
        }
        .partner-ponto-focal-display-name {
            grid-column: 2 / 3;
            margin: 0;
            align-self: end;
            color: $azul-escuro;
            font-size: 22px;
            line-height: 1.2em;
            font-weight: 600;
        }
        .partner-ponto-focal-subtitle {
            grid-column: 2 / 3;
            margin: 0;
            align-self: start;
            color: $azul-escuro;
            font-size: 12px;
            line-height: 1.2em;
            font-weight: 600;
            text-transform: uppercase;
            .label {
                display: inline-block;
                vertical-align: middle;
                padding: 0.5em 1em;
                &.danger-label {
                    background-color: $danger-label;
                    color: $white;
                    border-radius: 6px;
                }
            }
        }
    }
    .partner-ponto-focal-links {
        margin-bottom: 20px;
        a {
            color: $azul-escuro;
            transition: all 0.2s ease;
        }
        a:active,
        a:focus,
        a:hover,
        a:focus:hover {
            color: $azul;
        }
        ul {
            display: flex;
            justify-content: end;
            flex-direction: column;
            align-content: center;
            gap: 10px;
            list-style: none;
            color: $azul-escuro;
            padding: 0 0 0 25px;
            a {
                i {
                    font-size: 1.2em;
                    margin-right: 0.75em;
                }
                span {
                    font-size: 0.875rem;
                }
            }
        }
    }
    .partner-ponto-focal-atendimento_description {
        padding-left: 25px;
        transition: max-height 0.25s ease-in-out;
        overflow: hidden;
        max-height: 0;
    }
    .toggle-descricao {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        margin-left: auto;
        width: 1.875rem;
        height: 1.875rem;
        &::before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: none;
            border-bottom: 0.5rem solid $azul-escuro;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
        }
        &[data-toggle-status="expanded"] {
            &::before {
                border-top: none;
                border-bottom: 0.5rem solid $azul-escuro;
            }
        }
        &[data-toggle-status="collapsed"] {
            &::before {
                border-bottom: none;
                border-top: 0.5rem solid $azul-escuro;
            }
        }
    }

    .partner-ponto-focal-atendimento_description,
    .partner-ponto-focal-atendimento_description > * {
        color: $azul-escuro;
        font-size: 0.85rem;
        font-weight: 400;
        line-height: 1.2em;
        word-break: break-word;
    }

    .partner-ponto-focal-atendimento_description ul,
    .partner-ponto-focal-atendimento_description ol {
        padding-left: 0;
        list-style-position: inside;
    }

    .partner-ponto-focal-atendimento_description a {
        color: $azul;
        text-decoration: underline;
        transition: all 0.2s ease;
    }
    .partner-ponto-focal-atendimento_description a:active,
    .partner-ponto-focal-atendimento_description a:hover,
    .partner-ponto-focal-atendimento_description a:focus,
    .partner-ponto-focal-atendimento_description a:hover:focus {
        color: $roxo;
    }
    &.contato-emergencia {
        opacity: 0.66;
    }
}
.elementor-kit-5 button.download-csv-button,
.download-csv-button {
    font-family: inherit;
    font-size: 0.8em;
    font-weight: 500;
    color: $black;
    background-color: $cinza;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-top: 20px;
    &:active,
    &:hover,
    &:focus,
    &:hover:focus {
        background-color: $cinza-escuro;
        color: $cinza-claro;
        cursor: pointer;
        border: none;
    }
}

@media (min-width: 768px) {
    .partner-popup-wrapper {
        .partner-popup {
            top: 50%;
            left: 50%;
            right: auto;
            bottom: auto;
            width: 90vw;
            max-width: 1200px;
            height: auto;
            transform: translate(-50%, -50%);
            border-radius: 10px;
            .popup-content {
                max-height: 80vh;
                border-radius: 10px;
                &::-webkit-scrollbar {
                    width: 6px;
                }
                &::-webkit-scrollbar-track {
                    // box-shadow: inset 0 0 6px grey;
                    background-color: $cinza-claro;
                    border-radius: 0 10px 10px 0;
                }
                &::-webkit-scrollbar-thumb {
                    background: $azul-claro;
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: $azul;
                }
                &.chamado-view {
                    grid-template-areas: "chamado-aside content" "chamado-aside content";
                    grid-template-columns: fit-content(480px) 1fr;
                    .chamado-aside {
                        grid-template-columns: 1fr;
                        #chamado-aside-column-1 {
                            border: none;
                            grid-column: 1 / -1;
                        }
                        #chamado-aside-column-2,
                        #chamado-aside-column-3 {
                            grid-column: 1 / -1;
                        }
                    }
                    .chamado-urgencia {
                        .chamado-tags {
                            display: grid;
                        }
                    }
                }
            }
            .partner-popup-close {
                top: -35px;
                right: -35px;
            }
        }
    }
    .partner-chamado-form {
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
        grid-template-areas:
            "titulo titulo notificacao btn"
            "marca marca assunto assunto"
            "detalhes-solicitacao detalhes-solicitacao detalhes-solicitacao detalhes-solicitacao"
            "data-solicitacao data-solicitacao data-entrega data-entrega"
            "urgencia urgencia status status"
            "profissional profissional etapa etapa"
            "detalhes-entrega detalhes-entrega detalhes-entrega detalhes-entrega";
        gap: 20px;
        h4 {
            grid-area: titulo;
        }
        #partner-chamado-cliente {
            grid-column: 1 / -1;
        }
        #partner-chamado-cliente:has(+ #partner-chamado-marca + #chamado-button) {
            grid-area: titulo;
        }
        #chamado-notificacao-label {
            grid-area: notificacao;
            flex-direction: row-reverse;
            align-items: center;
            justify-self: start;
        }
        #chamado-button {
            grid-area: btn;
        }
        #partner-chamado-marca {
            grid-column: 1 / -1;
        }
        #partner-chamado-marca:has(+ #chamado-button) {
            grid-area: marca;
        }
        #chamado-assunto {
            grid-area: assunto;
        }
        #chamado-detalhamento-solicitacao-label {
            grid-area: detalhes-solicitacao;
        }
        #chamado-data-solicitacao-label {
            grid-area: data-solicitacao;
        }
        #chamado-data-entrega-label {
            grid-area: data-entrega;
        }
        #chamado-urgencia {
            grid-area: urgencia;
        }
        #chamado-profissional {
            grid-area: profissional;
        }
        #chamado-etapa {
            grid-area: etapa;
        }
        #chamado-ponto-focal {
            grid-area: ponto-focal;
        }
        #chamado-status {
            grid-area: status;
        }
        #chamado-detalhamento-resolucao-label {
            grid-area: detalhes-entrega;
        }
    }
}
