$black: #000;
$white: #fff;
$success: #1fa750;
$warning: #cfa00c;
$danger: #dc3545;
$roxo: #7023ba;
$verde: #34a853;
$azul: #0070c0;
$amarelo: #fbbc04;
$chumbo: #434343;
$prata: #d9d9d9;
$borda: #808080;
$borda-style: 4px solid $white;


.table-wrap {
    overflow-x: auto;
}

.table {
    // min-width: 1000px !important;
    width: 100%;
    -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    color: $roxo;
    thead {
        border-bottom: 20px solid white;
        th {
            border: none;
            font-weight: 500;
            color: $roxo;
            vertical-align: middle;
            font-size: 0.7em;
            padding: 0px 0px;
            width: 4ch;
            &:first-child {
                padding: 15px 30px;
                font-size: 13px;
                text-transform: uppercase;
            }
            &.wide-th {
                min-width: 300px;
                text-align: left;
            }
            &.vertical-text {
                position: relative;
            }
            &.th-block {
                background-color: $roxo;
                color: $white;
                text-align: left;
                font-size: 1.4em;
                line-height: 1.5em;
                text-transform: none;
            }
            &.total-geral {
                background-color: $chumbo;
                color: $white;
                text-transform: uppercase;
                font-size: 1.1em;
                width: 5ch;
            }
            &.mes-passado {
                background-color: $verde;
            }
            &.mes-futuro {
                background-color: $amarelo;
            }
            &.th-ref,
            &.th-mes {
                border-left: $borda-style;
                border-right: $borda-style;
            }
        }
        tr {
            background: $white;
            border-bottom: 4px solid darken(#f8f9fd, 3%);
        }
    }
    tbody {
        tr {
            margin-bottom: 10px;
            border-bottom: 4px solid #f8f9fd;
            &:last-child() {
                border-bottom: 0;
            }
        }
        th,
        td {
            border: none;
            padding: 10px 20px;
            font-size: 14px;
            background: $white;
            vertical-align: middle;
        }
        td {
            &.resultado-contratado,
            &.resultado-entregue {
                text-align: center;
                padding: 5px 0px;
                width: 2ch;
            }
            &.resultado-contratado {
                border-left: $borda-style;
            }
            &.resultado-entregue {
                border-right: $borda-style;
            }
            &.status {
                span {
                    position: relative;
                    border-radius: 30px;
                    padding: 4px 10px 4px 25px;
                    &:after {
                        position: absolute;
                        top: 9px;
                        left: 10px;
                        width: 10px;
                        height: 10px;
                        content: "";
                        border-radius: 50%;
                    }
                }
                .active {
                    background: lighten($success, 25%);
                    color: darken($success, 25%);
                    &:after {
                        background: darken($success, 20%);
                    }
                }
                .waiting {
                    background: lighten($warning, 25%);
                    color: darken($warning, 25%);
                    &:after {
                        background: darken($warning, 15%);
                    }
                }
            }
            .img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .email {
                span {
                    display: block;
                    &:last-child() {
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.3);
                    }
                }
            }
            .close {
                span {
                    font-size: 12px;
                    color: $danger;
                }
            }
            &.empty-cell {
                background-color: $prata;
            }
            &.total-contratado,
            &.total-entregue {
                text-align: center;
                width: 5ch;
                padding-inline: 1ch;
            }
            &.cell-contratado,
            &.total-contratado {
                background-color: $verde;
                color: $black;
                padding-inline: 1ch;
            }
            &.cell-entregue,
            &.total-entregue {
                background-color: $azul;
                color: $black;
                padding-inline: 1ch;
            }
        }
    }
}
.vertical-text div {
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
